{% include head.html %}
{% include navbar.html %}

<!-- Landing Page / About -->
<div class="section landing-page">
  <div class="row">
    <div class="col m8 s12 intro">
      <h1>Heilpraxis Gabriele Schwartz</h1>
      <h3>Miasmatische Homöopathie und Wandlung</h3>
    </div>
    <div class="col m4 s12 about">
      About!
    </div>
  </div>
</div>
<!-- Miasmatik -->
<!-- Wandlung -->
<!-- Weitere Behandlungsmethoden -->
<!-- Gallery -->
<!-- Anfahrt / Preise / Newsletter -->
<!-- Impressum -->

{% include footer.html %}